.page-loader .progress {
	border-left-color:#ffbe00;
}

.player-controls a:hover {
	background:#ffbe00;
	border:1px solid #ffbe00;
}

.services .icon i.fa {
	color:#ffbe00;
	border:1px solid #ffbe00;
}

.section-title:after,
.services .icon i.fa:hover,
.contact input[type="submit"],
.up-btn:hover {
	background:#ffbe00;
}

.contact input[type="submit"]:hover { 
	background:#ffcb32;
}

header h1 > span,
.subscribe button:hover,
.subscribe label.error i,
a.contact-link:hover,
.contact #ajax-contact-form i,
.contact .notification_ok i,
.google-map .email > a:hover,
footer a {
    color:#ffbe00;
}

.subscribe input[type=text]:focus,
.contact input[type='text']:focus, 
.contact textarea:focus {
	border-color:#ffbe00;
}

.google-map .email > a {
  	color:rgba(255, 190, 0, 0.8);
}

#zoom-in, #zoom-out {
  	background-color:rgba(255, 190, 0, 0.8);
}

#zoom-in:hover, #zoom-out:hover {
	background-color:#ffbe00;
}

.up-btn {
	background:rgba(255, 190, 0, 0.5);
}