/****************************
    - Responsive styles -
****************************/
@media only screen and (max-width:1036px) {
	.services .col-md-4 {
		margin-bottom:40px;
	}
	
	.services .col-md-4:last-child {
		margin-bottom:0;
	}
	
	.subscribe button {
		width:10%;
	}

	.contact input[type="submit"] {
		width:20%;
	}
}

@media (min-width:768px) and (max-width:1023px) {
	.services p {
		margin:0 25%;
	}
}

@media only screen and (max-width:756px) {
	.countdown div:after {
		display:none;
	}
	
	.subscribe input[type="email"] {
		margin-bottom:10px;
	}

	.subscribe button, .subscribe input[type="email"] {
		width:20%;
	}

	.large-info {
		font-size:24px;
		padding:15px;
		margin-bottom:10px;
	}

	.contact input[type="submit"] {
		width:30%;
	}
	
	.section-title {
		font-size:24px;
	}

	.google-map i.fa-map-marker  {
		margin-left:-5px;
	}

	header h1 {
		font-size:26px;
		padding-top:1px;
		margin-bottom:0px;
	}

	header .countdown {
		font-size:2.3em;
		line-height:50px;
	}

	header .countdown span {
		line-height:5px;
	}
	
	.countdown div {
		margin:0 10px;
	}

	header .logo img {
		width:20%;
		height:auto;
	}

	.mouse {
		display:none;
	}
}

@media only screen and (max-width:540px) {
	.contact input[type="submit"] {
		width:40%;
	}
	
	header h1 {
		font-size:24px;
	}
	
	.section-title {
		font-size:22px;
	}

	header .countdown {
		font-size:2.3em;
		line-height:50px;
	}

	header .countdown span {
		line-height:5px;
	}

	header .logo img {
		width:50%;
		height:auto;
	}
	
	.subscribe p {
		padding-top:11px;	
	}
	
	.subscribe input[type=text] {
		width:240px;	
	}
}

@media only screen and (-webkit-min-device-pixel-ratio:2) {
	.services {
		background-attachment:scroll !important;
		-webkit-background-size:cover;
		background-position:center;
	}
}